
.modal {
  position: absolute;
  overflow: hidden;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 100px;
 
 

}

/* .close {
  width: 300px;

} */

.modal-header {
  background: lightblue;
  opacity: 0.4;
  color:#fff;
  padding: 5px;
}

.modal p {
  color: black;
  background-color:#fff;
  border-radius:5px;
  max-width: 100%;
 /* padding: 10px;  //why tho? */
  
}

@media only screen and (max-width: 442px) {
  .modal {
    width: 50px;
  }

    
  }
  