
.modal {
  position: absolute;
  overflow: hidden;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 125px;
  background-color: white;
  border-radius:15px;

}

.modal .close-btn {
  color: purple;
  background-color:white;

}

.modal.closed {
  display: hidden;
}


.modal p {
  color:purple;
  max-width: 100%;
 
  
}


  @media only screen and (max-width: 442px) {
    .modal {
      width: 120px;
  
    }
  
      
    }

    @media only screen and (max-width: 342px) {
      .modal {
        width: 120px;
     
      }
    
        
      }
    
  

 
  