@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Megrim&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
  box-sizing: border-box;
  background: #E9BDDF;
 
}

.App {
  box-sizing: border-box;
  text-align: center;
  height: 900px;
  background: #E9BDDF;
  color: black;
 
}

.App.nightmare {
  background: #A36D9A;
  color:white;
  box-sizing: border-box;
  height: 937px;
}

h1, h3, h4 {
  font-family: 'Megrim', cursive;
  margin: 15px;
}

p {
  font-family: 'Major Mono Display', monospace;
    
}

.grid1 {
  display: flex;
  justify-content: center;
  padding-top: 90px;
 
}

.grid1.night {
  visibility:hidden;
}

.grid2{
  display: flex;
  justify-content: center;
  padding-top: 90px;
  
}

.grid2.dre{
  visibility: hidden;
}



button {
  padding: 10px;
  border-radius: 10px;
  background-color:#F0699F;
  opacity: 0.9;
  color:white;
  font-size:16px;
  border: none;
  font-family: 'Megrim', cursive;
  font-weight: bold;
}



button:hover {
  color:black;
  background-color:#D96AC3;

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.card {
  position: relative;
  
}

.card .front  {
  width: 86%;
height: 40vh;
display: inline-block;
border-radius: 25px;
position: absolute;
transform: rotateY(90deg);


}


.flipped .front {
  transform: rotateY(0deg);
}


.card .back {
  width: 85%;
height: 40vh;
display: inline-block;
border-radius: 25px;
/* border: 2px solid red; */



}

.desc {
  visibility:hidden;
}

.mode-toggle {
  margin-right: 90%;
  padding: 20px;
}

.mode-toggle img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}



@media only screen and (max-width: 880px) {
  .card .front {
    min-width: 80%;
    height: 73%;
    /* border: 2px solid red; */
    }

  .card .back {
    min-width: 80%;
    height: 75%;  
}


}


@media only screen and (max-width: 700px) {
  .card .front {
    min-width: 80%;
    height: 69%;

    
  }
  
  
  .card .back {
    min-width: 80%;
    height: 70%;
 
  
}


}

@media only screen and (max-width: 560px) {
  .card .front {
    min-width: 80%;
    height: 64%;

    
  }
  
  
  .card .back {
    min-width: 80%;
    height: 65%;
 
  
}


}

@media only screen and (max-width: 410px) {
  .card .front {
    min-width: 80%;
    height: 57%;

    
  }
  
  
  .card .back {
    min-width: 80%;
    height: 57%;
 
  
}


}







