body {

  box-sizing: border-box;
  color:white;
 
}

.App {
  text-align: center;
  height: 900px;
  background: #E9BDDF;
  color: black;
 
}

.App.dark {
  background: #A36D9A;
  color:white;
}

.grid {
  display: flex;
  justify-content: center;
  padding-top: 90px;

  
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color:palevioletred;
  color:white;
  font-size:16px;
}

button:hover {
  color:black;
  background-color:palevioletred;
  

}

/* .card-info {
color:red;

} */



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.card {
  position: relative;
  
}

.card .front  {
  width: 70%;
height: 40vh;
display: inline-block;
border-radius: 25px;
position: absolute;
transform: rotateY(90deg);


}


.flipped .front {
  transform: rotateY(0deg);
}


.card .back {
  width: 70%;
height: 40vh;
display: inline-block;
border-radius: 25px;
/* border: 2px solid red; */



}

.desc {
  visibility:hidden;
}

.mode-toggle {
  margin-right: 90%;
  padding: 20px;
}

.mode-toggle img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}



@media only screen and (max-width: 880px) {
  .card .front {
    min-width: 70%;
    height: 70%;
    }

  .card .back {
    min-width: 70%;
    height: 60%;  
}
}


@media only screen and (max-width: 442px) {
  .card .front {
    min-width: 70%;
    height: 50%;
    
  }
  
  
  .card .back {
    min-width: 70%;
    height: 60%;
 
  
}
}

/* @media only screen and (max-width: 437px) {
  .card .front {
    min-width: 70%;
    height: 50%;
    
  }
  
  
  .card .back {
    min-width: 70%;
    height: 60%;
 
  
}
} */





